@import url(./__logo-zone/rsources__logo-zone.css);
@import url(./__logo/resources__logo.css);

.resources {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}