.section-title {
    margin: 0;
    margin-top: 100px;
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
    color: #000000;
    width: 60%;
    display: flex;
    justify-content: center;
  }