@import url(./vendor/normalize.css);
@import url(./blocks/header/header.css);
@import url(./blocks/logo/logo.css);
@import url(./blocks/rotation/rotation.css);
@import url(./blocks/two-columns/two-columns.css);
@import url(./blocks/techniques/techniques.css);
@import url(./blocks/section-title/section-title.css);
@import url(./blocks/section-subtitle/section-subtitle.css);
@import url(./blocks/techniques/techniques.css);
@import url(./blocks/techniques/cards/cards.css);
@import url(./blocks/video/video.css);
@import url(./blocks/feynman/feynman.css);
@import url(/blocks/oakley/oakley.css);
@import url(./blocks/digits/digits.css);
@import url(./blocks/table/table.css);
@import url(./blocks/khan/khan.css);
@import url(./blocks/kaufman/kaufman.css);
@import url(./blocks/resources/resources.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/link-hover/link-hover.css);

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
