@import url(./blocks/header/header.css);
@import url(./blocks/logo/logo.css);
@import url(./blocks/rotation/rotation.css);
@import url(./blocks/two-columns/two-columns.css);
@import url(./blocks/techniques/techniques.css);
@import url(./blocks/section-title/section-title.css);
@import url(./blocks/section-subtitle/section-subtitle.css);
@import url(./blocks/techniques/techniques.css);
@import url(./blocks/techniques/cards/cards.css);
@import url(./blocks/video/video.css);

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

/* обязательно настроить когда подойду */
.digits {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #1f1f1f;
  overflow: hidden;
  z-index: 1;
  position: relative;
}

.table {
  list-style: none;
  width: 1100px;
  margin: auto;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  z-index: 2;
}

.table__cell {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 60px;
  width: 250px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}

.feynman {
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  min-height: 890px;
  background: url(../images/feynman.png) left bottom no-repeat;
  background-size: 867px 637px;
  background-color: #f2f2f2;
}

.feynman__title {
  margin-top: 100px;
  margin-bottom: 0;
  max-width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  position: relative;
}

.feynman__subtitle {
  margin-top: 70px;
  margin-bottom: 0;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  align-self: flex-end;
  position: absolute;
  top: 50%;
  margin-right: 48px;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
}

.kaufman {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #1f1f1f;
  overflow: hidden;
  z-index: 1;
  position: relative;
}

.kaufman__triangle {
  position: absolute;
  background-image: url(../images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  background-size: contain;
  top: 0;
  right: -210px;
  z-index: -1;
}

.section-title_theme_dark {
  margin-top: 90px;
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.table_theme_dark {
  margin-bottom: 90px;
}

.table__cell_theme_dark {
  margin-top: 80px;
  width: 200px;
}

.table__heading_theme_dark {
  color: white;
}

.table__text_theme_dark {
  color: white;
}

.footer {
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  min-height: 350px;
  margin: 0;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 90%;
  margin-top: 60px;
  margin-bottom: 40px;
}

.footer__column {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  height: 35px;
}

.footer__author {
  margin: 0;
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.footer__column_content_info {
  justify-content: flex-start;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin: 0;
  margin-bottom: 20px;
}

.footer__column_content_social {
  justify-content: flex-start;
}

.footer__column-links {
  margin-top: 0;
  padding: 0;
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.footer__column-link {
  margin: 0px;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  display: flex;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
  align-self: center;
}
