.section-subtitle {
    margin: 0;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    color: #000000;
    width: 60%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 0;
  }