.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  position: relative;
  flex-wrap: wrap;
  background-color: #f2f2f2;
}

.logo {
  width: 183px;
}

.logo_place_header {
  position: absolute;
  height: 32px;
  top: 30px;
  left: 64px;
  z-index: 5;
}

.header__title {
  line-height: 92px;
  font-size: 102px;
  font-weight: bold;
  margin: 0;
  align-self: center;
  width: 730px;
  margin-left: 64px;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
  z-index: 3;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #000000;
  margin: 0;
}

.header__link {
  text-decoration: none;
  left: 17%;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  background-size: cover;
  margin: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  top: 64px;
  right: 0;
  bottom: auto;
  left: auto;
  align-self: flex-end;
  background-size: cover;
}

.two-columns {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  width: 80%;
  padding-bottom: 0;
  padding-top: 0;
}

.two-columns__brife {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: #2f80ed;
  width: 175px;
  margin: 0;
}

.two-columns__main-text {
  display: flex;
  margin-left: auto;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  min-width: 784px;
  width: 80%;
  min-height: 330px;
}

.two-columns__paragraph {
  margin: 0;
  margin-right: 0;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  color: #000000;
}

.two-columns__span-accent {
  font-weight: bold;
  color: #000000;
}

.digits {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-title {
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  color: #000000;
  width: 60%;
  display: flex;
  justify-content: center;
}

.section-subtitle {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: #000000;
  width: 60%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 0;
}

.table {
  list-style: none;
  width: 1100px;
  margin: auto;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  z-index: 2;
}

.table__cell {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.table__cell_dimensions {
  margin-top: 60px;
  width: 250px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}

.feynman {
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  height: 890px;
  background: url(../images/feynman.png) left bottom no-repeat;
  background-size: 867px 637px;
  background-color: #f2f2f2;
}

.feynman__title {
  margin-top: 100px;
  margin-bottom: 0;
  width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  position: relative;
}

.feynman__subtitle {
  margin-top: 70px;
  margin-bottom: 0;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  align-self: flex-end;
  position: absolute;
  top: 50%;
  margin-right: 48px;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
}

.kaufman {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #1f1f1f;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.kaufman__triangle {
  position: absolute;
  z-index: 1;
  width: 877px;
  height: 877px;
  top: o;
  right: -210px;
}

.section-title_theme_dark {
  margin-top: 90px;
  color: white;
  z-index: 2;
}

.section-subtitle_theme_dark {
  color: white;
  z-index: 3;
}

.table_theme_dark {
  margin-bottom: 90px;
}

.table__cell_theme_dark {
  margin-top: 80px;
  width: 200px;
}

.table__heading_theme_dark {
  color: white;
}

.table__text_theme_dark {
  color: white;
}

.footer {
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  position: relative;
  min-height: 350px;
}

.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: relative;
  width: 90%;
  padding: 0;
  margin-top: 60px;
  margin-bottom: 40px;
}

.footer__column_content_copyright {
  margin-left: 0;
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  height: 35px;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  position: relative;
}

.footer__column_content_info {
  margin-left: 0;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
  margin-top: 0;
}

.footer__column_content_social {
  margin-left: 0;
  display: flex;
  position: relative;
  flex-direction: column;
}

.footer__column-links {
  margin-top: 0;
  padding-left: 0;
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
}

.footer__column-link {
  margin-bottom: 10px;
  text-decoration: none;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  display: flex;
  flex-direction: row;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
  align-self: center;
}
